# Ignorar archivos compilados de Python
*/__pycache__/*
*.py[cod]

# Archivos de entorno virtual
venv/
env/

# Configuración de editores
.vscode/
.idea/

# Archivos del sistema
*.log
*.swp
*.DS_Store

# Archivos temporales
*.bak
*.tmp

# Archivos de bases de datos
*.sqlite3

# Archivos personales o secretos
.env
*.pdf
*.ftl
*.png


04/
to-do.txt
trabajo_integrador/barriga/ejemplos/predimensionado.py
trabajo_integrador/o.txt
04/
05/
Exposicion/
ejercici2_situacion1/
ejercici2_situacion2/
ejercici2_situacion3/
ejercicio1/
ftools/
